<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.youshibi.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".presentation.StartActivity"
            android:theme="@style/AppBaseTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.main.MainActivity"
            android:allowTaskReparenting="true"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:finishOnTaskLaunch="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".presentation.book.BookDetailActivity" />
        <activity android:name=".presentation.read.ReadActivity" />
        <activity android:name=".presentation.CrashActivity" />
        <activity
            android:name=".presentation.search.SearchActivity"
            android:theme="@style/AppTheme.Translucent"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".presentation.search.SearchResultActivity" />
        <activity
            android:name=".presentation.explore.BookTypeSelectionActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Translucent" />

        <activity android:name=".presentation.book.BookCatalogActivity"
            android:theme="@style/AppTheme.Translucent"/>


        <activity
            android:name=".presentation.AboutActivity"
            android:theme="@style/AppTheme.Translucent"
            android:label="@string/about_us" />
    </application>

</manifest>